*{ padding:0; margin:0; }
html,body{ font-size:14px; height: 100%; overflow:hidden;}

body, input, textarea,a,:focus{
outline:none;
background-color:transparent;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-focus-ring-color: rgba(255, 255, 255, 0);
}
.fl{ float:left; }
.fr{ float:right; }
a{ color:#333;}
a,a:active,a:hover{ text-decoration:none; }
:focus{ outline:none }
ul,li{list-style:none;}

.wrap{height:inherit; overflow:hidden;width: 100%; position:relative; }
.wrap_room{  float:left;height:inherit; position:relative; overflow:hidden; visibility:hidden;
background-size:100%; background-repeat:no-repeat; background-position:center center; background-image:url(images/body_bg.png);
}
.wrap_fav{height:inherit; float:left; position:relative;background-color:#ebebeb;}

.start{width: 100%;height: 100%; position:absolute;top: 0;left: 0; background-size:100%;z-index: 999;}
.start .bg{ background-image:url(images/fitbg.png);width: 100%;height: 100%;  position:absolute;top: 0;left: 0; z-index:2;background-size:110%; background-repeat:no-repeat; background-position:center center; }
.logo, .fit{background-size:95%;position:absolute;background-repeat:no-repeat; z-index:12; left:50%; z-index:4;}
.logo{ background-image:url(images/logo.png);text-indent:-100;
width:115px; height:24px; top:360px;-webkit-transform:translateX(-100%);}
.fit{ background-image:url(images/fit.png); width:128px; height:36px; top:300px; opacity:.7;-webkit-transform:translateX(-50%);}

.preview{ position:absolute;z-index: 1;width: 100%;bottom: 32px;left: 15px;top: 0;}
.model{position:absolute;top: 0;width: 100%;left: 0;z-index: -1;bottom: 0;height: 100%; text-align:center;}
.model img{visibility:hidden;}

.clothes{position:absolute;width: 100%;z-index: 999;top: 0;left: 0;bottom: 0;height: 100%; text-align:center;}
.clothes li{ position:absolute;width: 100%;height: 100%;left: 0;top: 0;}
/*.clothes img{height: 100%;}*/


.bottom{ position:absolute;width: 100%;bottom: 0;z-index: 99; text-align:center; background-color:#202a2c;}
.types{ overflow:hidden; font-size:0; margin-left:9px;}
.types >li{ display:inline-block; vertical-align:top;padding: 8px 0; color:#fff;;cursor:pointer; font-size:14px; width:25%; position:relative;}
.active{ background-color:#6c6f70!important; background-image:none!important; box-shadow:none!important;}
.addFav,.return{ float:right; padding:8px 8px 8px 15px; color:#fff; margin-right:5px; position:relative;}
.addFav:after,.return:after{content:''; position:absolute; width:0; top:5px;left: 0; bottom:5px;border-left:1px solid #fff; }

.dropmenu{ position:absolute;top: 0;left: 0; text-align:center;z-index: 999;}
.dropmenu li{ color:#000; font-size:14px; padding:8px 0; margin-bottom:2px; background-color:rgba(0,0,0,.3);}

.clothes-list-box{ text-align:center; position:absolute;z-index: 999;width: 100px;left: 18px;top: 50%;-webkit-transform:translateY(-55%);}
.clothes-list{padding: 5px;}
.clothes-list li{ display:inline-block; vertical-align:top; font-size:0; padding-bottom:12px;}
.clothes-list img{width: 90px; outline:1px solid #b3b3b3; background-color:#fff;}
.mask{ display:none; position:absolute; z-index:1000; background-color:rgba(255, 255, 255, 0.96);top: 0;left: 0;width: 100%;height: 100%;}

.clothes-list .selected{outline:4px solid #b3b3b3;}

.clothes-list-box .prev,.clothes-list-box .next{ width:70px; height:30px; -webkit-background-size:100%;
background-size:100%; overflow:hidden; text-indent:-99em; display:inline-block;}
.clothes-list-box .prev{ background-image:url(images/btn_prev.png);}
.clothes-list-box .next{ background-image:url(images/btn_next.png);}

.clothes-list-box .undress{ width:90px; height:50px; display:inline-block; line-height:50px; text-align:center; color:#fff; background-color:#505572; font-size:12px; margin:12px 0 0 4px;}
.clothes-list-box .undress.disabled{ opacity:.6;}

.tip{ background-color:rgba(0, 0, 0, .45); color:#fff; font-size:16px; text-align:center; position:absolute; left:25%; right:25%; height:60px;line-height: 60px;top: 50%;z-index: 999;margin-top: -20px;border-radius:10px;}


/*progress*/
.mask {
background: #222 url(images/loading.gif) center center no-repeat;
font: 13px 'trebuchet MS',Arial,Helvetica;
opacity:.8;
-webkit-background-size:25%;
background-size:25%;
}


/*---------------------------*/

.progress-bar {
background-color: #1a1a1a;
height: 22px;
padding: 2px;
position:relative; top:40%;
margin: 0 2em 20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
display: inline-block;
height: 100%;
background-color: #777;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
-webkit-transition: width .4s ease-in-out;
-moz-transition: width .4s ease-in-out;
-ms-transition: width .4s ease-in-out;
-o-transition: width .4s ease-in-out;
transition: width .4s ease-in-out;
}

/*---------------------------*/

.blue span {
background-color: #34c2e3;
}

.orange span {
background-color: #fecf23;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
background-image: -o-linear-gradient(top, #fecf23, #fd9215);
background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
background-color: #a5df41;
background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
background-image: -o-linear-gradient(top, #a5df41, #4ca916);
background-image: linear-gradient(top, #a5df41, #4ca916);
}

/*---------------------------*/

.stripes span {
-webkit-background-size: 30px 30px;
-moz-background-size: 30px 30px;
background-size: 30px 30px;
background-image: -webkit-gradient(linear, left top, right bottom,
color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
to(transparent));
background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);
background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent);

-webkit-animation: animate-stripes 3s linear infinite;
-moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


@-moz-keyframes animate-stripes {
0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

/*---------------------------*/

.shine span {
position: relative;
}

.shine span::after {
content: '';
opacity: 0;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: #fff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

-webkit-animation: animate-shine 2s ease-out infinite;
-moz-animation: animate-shine 2s ease-out infinite;
}

@-webkit-keyframes animate-shine {
0% {opacity: 0; width: 0;}
50% {opacity: .5;}
100% {opacity: 0; width: 95%;}
}


@-moz-keyframes animate-shine {
0% {opacity: 0; width: 0;}
50% {opacity: .5;}
100% {opacity: 0; width: 95%;}
}

/*---------------------------*/

.glow span {
-moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
-webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;

-webkit-animation: animate-glow 1s ease-out infinite;
-moz-animation: animate-glow 1s ease-out infinite;
}

@-webkit-keyframes animate-glow {
0% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
50% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
100% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

@-moz-keyframes animate-glow {
0% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
50% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
100% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

/*progress*/


@-webkit-keyframes slideinfromtop{
from{ -webkit-transform:translateY(-100%); transform:translateY(-100%) }
to{ -webkit-transform:translateY(0); transform:translateY(0) }
}
@-webkit-keyframes slideouttotop{
from{ -webkit-transform:translateY(0); transform:translateY(0) }
to{ -webkit-transform:translateY(-100%); transform:translateY(-100%) }
}
@-webkit-keyframes slideinfrombottom{
from{ -webkit-transform:translateY(100%); transform:translateY(100%) }
to{ -webkit-transform:translateY(0); transform:translateY(0) }
}
@-webkit-keyframes slideouttobottom{
from{ -webkit-transform:translateY(0); transform:translateY(0) }
to{ -webkit-transform:translateY(100%); transform:translateY(100%) }
}
.slideup, .slidedown{ -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden }
.slideup.in{ -webkit-transform:translateY(0); transform:translateY(0); -webkit-animation-name:slideinfrombottom; -webkit-animation-duration:250ms }
.slideup.out{ -webkit-transform:translateY(100%); transform:translateY(100%); -webkit-animation-name:slideouttobottom; -webkit-animation-duration:200ms }
.slidedown.in{ -webkit-transform:translateY(0); transform:translateY(0); -webkit-animation-name:slideinfromtop; -webkit-animation-duration:250ms }
.slidedown.out{ -webkit-transform:translateY(100%); transform:translateY(100%); -webkit-animation-name:slideouttotop; -webkit-animation-duration:200ms }

/*fav*/
.wrap_fav .top{border-bottom:1px solid #a8a8a8; margin:24px 6px 12px; overflow:hidden;}
.wrap_fav .top .fl{ color:#fff; background-color:#a8a8a8; padding:2px 4px;}
.grey{ color:#a5a4ad;}
.wrap_fav .name{ font-size:12px; padding-bottom:6px;}

.fav_list{ margin:0 6px;}
.fav_list li{ border:1px solid #c7c7c7; padding:12px; overflow:hidden; background-color:#fff; margin-bottom:12px; line-height:1.3;}
.oh{ overflow:hidden;}
.fav_list li img{ margin-right:5px; width:60px; height:60px; background-color:#fff; border:1px solid #f0f0f0;}
.fav_list li p{ padding-top:2px;}
.fav_list li .fr{ text-align:center;}
.fav-btn{ color:#868593; padding:4px 14px; margin-top:7px; border-radius:5px; box-shadow:inset 0 2px 2px rgba(255,255,255,3), 0 2px 4px rgba(0,0,0,.3);
border: solid 1px rgba(0,1,1,.24); display:inline-block;
background-image: -webkit-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
background-image: -moz-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
background-image: -o-linear-gradient(bottom, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
background-image: linear-gradient(to top, rgba(0,1,1,.1), rgba(54,54,54,.1) 35%, rgba(95,95,95,.1) 35%, rgba(177,177,177,.1));
}
.tc{ text-align:center; padding:14px 0; overflow:hidden;}

.wrap_fav_scroll{ position:absolute;top: 55px;left: 0;width: 100%; bottom:35px; overflow-x:hidden; overflow-y:auto;}